html {
	width: 100%;
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

ul {
	font-size: 28px;
	list-style: none;
}

li {
	text-decoration-style: none;
}

.header {
	background: #f9f9f9;
	padding: 0 10px;
	text-align: right;
}

.title {
	width: 100%;
}

h1 {
	font-size: 34px;
	margin: 10px 10px 0;
}

h2 {
	font-size: 20px;
	margin-left: 10px;
}

h3 {
	font-weight: 100;
	font-size: 20px;
	margin: 10px;
}

.col1,
.col2 {
	width: 100%;
}



===============================

html,
body,
#site-wrapper {
  height:100%;
}

header{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  z-index: 10;
  height: 68px;
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  border-bottom: 1px solid #ccc;
  top: 0;
}

#site-wrapper #site-menu a h1,
#site-wrapper .navbar-fixed-top a h1{
    font-size: 16px;
  text-align:center;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

#site-wrapper #site-menu a h3,
#site-wrapper .navbar-fixed-top a h3{
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  font-weight: 700;
  text-transform: uppercase;
}

#site-wrapper #site-menu a,
#site-wrapper .navbar-fixed-top a{
  color:black;
}

#site-wrapper #site-menu a:hover,
#site-wrapper .navbar-fixed-top a:hover{
  text-decoration: none;
}

#site-menu {
  -webkit-transition: 300ms ease-out all;
  transition: 300ms ease-out all;
}

#site-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  height: 100%;
  -webkit-transform: translate3d(-160px, 0, 0); 
  transform: translate3d(-160px, 0, 0);
  background: #FFF;
  padding: 75px 16px 0 16px;
/*  border-right: 1px solid gray;
*/  z-index:7;
  background: #f7f7f7;
}

.show-nav #site-menu {
  -webkit-transform: translate3d(0px, 0, 0); 
  transform: translate3d(0px, 0, 0);
}


#button {
  background-color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 15px;
  font-weight: 20px;
  border:none;
  border-radius:0px;
  position:fixed;
/*  top:0;
  left:0;*/
  padding-top: 25px;
}


.fa-bars:before {
    content: "\f0c9";
    color: black;
}

.toggle-nav{
  color: #ff3264; 
  font-size: 20px;
}
===============================

/*================================
=            BASE CSS            =
================================*/
* {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.force-gpu * {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
body {
    -webkit-font-smoothing: antialiased;
}
section, header, footer, main, article, nav, aside {
    position: relative;
}
a {
    color: #ff455f;
    outline: none !important;
    text-decoration: none !important;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}
a:hover, a:focus {
    color: #0e1832;
}

p {
    font-size: 16px;
    margin: 0 0 20px;
    font-weight: 400;
}

input, textarea  {
    letter-spacing: -.02em;
}

::selection {
    background: rgb(255, 255, 43);
    color: #00aaea;
}
::-moz-selection {
    background: rgb(255, 255, 43);
    color: #00aaea;
}
.ScrollSceneIndicators { z-index: 9999999 !important; }

/*==============================
=            LATEST            =
==============================*/
#latest { text-align: left; }
#latest .contents {
    position: relative;
    z-index: 99999999;
    display: flex;
}

#latest .contents a {
    display: block;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

#latest .contents a .wrap {
    position: relative;
    display: block;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
    padding: 25px 0 25px 50px;
    background: #fff; 
	color: #00aaea;
}

#latest .contents a.first .wrap,
#latest .contents a.fourth .wrap { 
	margin-top: 20px; 
}

#latest .contents a:hover .wrap {
	background: #00aaea; 
}

#latest a:hover h4, 
#latest a:hover p {
    color: #fff;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}
#latest a h4 {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.04em;
}

#latest a p {
    margin: 0;
    font-size: 16px;
    font-weight: 200;
}